name: tests
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.16
      uses: actions/setup-go@v1
      with:
        go-version: 1.16.3
      id: go

    - name: Check out source
      uses: actions/checkout@v1

    - name: Set-Up SQLite
      run: make internal/sqlite/sqlite3.c

    - name: Vet
      run: make vet
    
    - name: Test
      run: make test
